logic-app-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_amirtestlogicapp_name": {
            "defaultValue": "amirtestlogicapp",
            "type": "String"
        },
        "sites_amir_test_python_function_externalid": {
            "defaultValue": "/subscriptions/f1855009-64d0-49e6-adaa-bc41f1009b26/resourceGroups/amir-test-functions-rg/providers/Microsoft.Web/sites/amir-test-python-function",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_amirtestlogicapp_name')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {}
                        }
                    },
                    "actions": {
                        "Parse_JSON": {
                            "runAfter": {
                                "Response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "$schema": "http://json-schema.org/draft-04/schema#",
                                    "properties": {
                                        "object_kind": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {},
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "Message successfully received",
                                "statusCode": 200
                            }
                        },
                        "Switch": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case": {
                                    "case": "merge_request",
                                    "actions": {
                                        "HttpTrigger1": {
                                            "runAfter": {},
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@triggerBody()",
                                                "function": {
                                                    "id": "[concat(parameters('sites_amir_test_python_function_externalid'), '/functions/HttpTrigger1')]"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@body('Parse_JSON')?['object_kind']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}